<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <link rel="stylesheet" href="loginPage.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="headline">개성넘치는 분들이<br> 여러분을 기다리고 있습니다!</div>
        <img src="../../static/images/image 1.png" class="picture">
        <span class="signUp"><a href="./signUpPage1.html">회원가입은 여기서!</a></span>
        <p class="recommand">먼저 로그인 부탁드려요</p>
        <form action="" class="input">
            <input type="text" class="inputBox" placeholder="전화번호 Phone Number">
            <input type="text" class="inputBox" placeholder="비밀번호 Password">
            <button type="submit" class="logIn">로그인</button>
        </form>
        <p class="forget">비밀번호를 까먹으셨나요?</p>
    </div>
</body>
</html>