<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="signUpPage2.css">
</head>

<body>

    <div class="container">
        <img src="../../static/images/Vector 1.png" class="picture">
        <div class="headline">당신에 대해 솔직하게<br>알려주세요 !</div>
        <form action="" class="formBox">
            <span class="innerText">닉네임</span>
            <input type="text" class="inputBox">
            <span class="innerText">전화번호</span>
            <input type="text" class="inputBox" style="margin-bottom: 0;">
            <span class="innerSmallText" style="margin-bottom: 18px; margin-top: 3px;">로그인 시에만 사용됩니다 :)</span>
            <span class="innerText">자신을 설명할 수 있는 3가지 키워드</span>
            <input type="text" class="inputBox" style="margin-bottom: 0;">
            <span class="innerSmallText" style="margin-bottom: 18px; margin-top: 3px;">#로 구분해주세요</span>
            <span class="innerText">MBTI</span>
            <input type="text" class="inputBox" placeholder="ESFJ">
            <span class="innerText" style="margin-bottom: 10px;">추가로 자기 소개를 해도 좋아요</span>
            <input type="text" class="introduceBox">
            <button type="submit" class="submitBox">회원가입</button>
        </form>
    </div>

</body>

</html>