<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./singUpPage1.css">
</head>
<body>
    <div class="container">
        <img src="../../static/images/image 4.png" class="picture">
        <div class="headline">회원 가입하기 전!<br>당신의 MBTI가 궁금해요</div>
        <span class="highlight01">연마가 준비한 검사로 맞춰볼게요!</span>
        <img src="../../static/images/image 5.png" class="searchPicture">
        <span class="searchText">돋보기를 눌러 검사를 시작해주세요</span>
        <span class="highlight02">만약 검사 없이 진행하고 싶다면?</span>
        <form action="" class="formBox">
            <input type="text" class="mbtiInput" placeholder="MBTI">
        </form>
        <a href="./signUpPage2.html"><button class="mbtiSubmit">회원가입 마저 하기</button></a>
    </div>
</body>
</html>