body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: lightgray;
}
.container{    
    width: 375px;
    height: 812px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.picture{
    width: 179.6px;
    height: 155.82px;
    margin-top: 75px;
    margin-bottom: 15px;
}
.headline{
    width: 398.44px;
    height: 66px;
    text-align: center;
    font-size: 26.39px;
    font-weight: 700;
    line-height: 30.95px;
}
.highlight01{
    font-size: 18px;
    color: #545454;
    font-weight: 600;
    line-height: 21.11px;
    margin-bottom: 35px;
    background-color: #fffd91;
}
.searchPicture{
    width: 63px;
    height: 66px;
    margin-bottom: 5px;
}
.searchText{
    font-weight: 700;
    font-size: 15px;
    line-height: 17.6px;
    color: #A3A3A8;
    text-decoration: underline;
}
.highlight02{
    margin-top: 80px;
    background-color: #fffd91;
    color: #545454;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.11px;
}
.formBox{
    display: flex;
    flex-direction: column;
}
.mbtiInput{
    width: 315px;
    height: 45px;
    border-radius: 16px;
    border: none;
    background-color: #BCC9E1;
    margin-bottom: 12px;
    margin-top: 12px;
}
.mbtiInput::placeholder{
    padding-left: 10px;
    color: white;
    font-size: 15px;
    line-height: 17.6px;
}
.mbtiSubmit{
    width: 315px;
    height: 45px;
    border-radius: 16px;
    background-color: #517BCC;
    border: none;
    font-weight: 600;
    font-size: 15p;
    line-height: 17.6px;
    color: white;
}